
 /*RESET */

* {

  margin: 0;

  padding: 0;

  box-sizing: border-box;

  font-family: 'Segoe UI', sans-serif;

}


body {

  background: #ffffff;

  color: #111827;

}


/* NAVBAR */

.navbar {

  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 24px 80px;

}


.logo {

  font-weight: 700;

  color: #6d28d9;

  font-size: 18px;

}


nav a {

  margin-left: 28px;

  text-decoration: none;

  color: #111827;

  font-weight: 500;

}


nav a:hover {

  color: #6d28d9;

}


/*hero*/
.hero {

 display: flex;

 align-items: center;

 justify-content: space-between;

 padding: 80px 8%;

 background: #f8f9fc;

 flex-wrap: wrap;

}


.hero-text {

 max-width: 500px;

}


.hero-text h4 {

 color: #6c4df6;

 margin-bottom: 10px;

}


.hero-text h1 {

 font-size: 40px;

 margin-bottom: 15px;

}


.hero-text p {

 color: #555;

 margin-bottom: 25px;

}


.hero-buttons a {

 text-decoration: none;

 padding: 12px 22px;

 border-radius: 25px;

 margin-right: 10px;

 font-weight: bold;

}
.btn-primary {

 background: #6c4df6;

 color: white;

}


.btn-secondary {

 border: 2px solid #6c4df6;

 color: #6c4df6;

}


.hero-image {

 position: relative;

 width: 420px;

 height: 420px;

 display: flex;

 align-items: center;

 justify-content: center;

}


.circle-bg {

 position: absolute;

 width: 320px;

 height: 320px;

 background: linear-gradient(135deg, #6c4df6, #8f6bff);

 border-radius: 50%;

 right: 0;

 bottom: 0;

 z-index: 0;

}


.hero-image img {

 width: 95%;

 max-width: 1000px;

 position: relative;

 z-index: 1;

 filter: drop-shadow(0 25px 40px rgba(0,0,0,0.2));

}


<!-- Skill dan Pengalaman -->

  <section class="experience">


    <!-- KIRI -->

    <div class="left">

      <h2>Keterampilan & Pengalaman</h2>

      <p>

        Di bawah ini adalah keterampilan dan pengalaman yang telah saya
kembangkan

        dalam perjalanan pengembangan pribadi saya hingga saat ini.

      </p>


      <h3>My Skills</h3>


      <!-- KOLOM 1 -->

      <div class="skills">

        <div class="skill-column">


          <div class="skill">

            <span>Pemrograman Web</span>

            <span>90%</span>

            <div class="bar">

              <div class="fill" style="width: 90%"></div>

            </div>

          </div>


SKILLS section

<!-- Skill dan Pengalaman -->

<section class="experience">

<!-- KIRI -->

<div class="left">

<h2>Keterampilan & Pengalaman</h2>

<p>

Di bawah ini adalah keterampilan dan pengalaman yang telah saya kembangkan

dalam perjalanan pengembangan pribadi saya hingga saat ini.

</p>

<h3>My Skills</h3>

<!-- KOLOM 1 -->

<div class="skills">

<div class="skill-column">

<div class="skill">

<span>Pemrograman Web</span>

<span>90%</span>

<div class="bar">

<div class="fill" style="width: 90%"></div>

</div>

</div>

